.jumbotron {
  margin-top: 50px;
  margin-bottom: 0px;
  background-color: #38a832;
  color: #f3f7f2; }

.foter {
  padding: 10px 10px 0 10px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-bottom: 0px;
  background-color: #9ea7ff; }

.card-description {
  flex: 1 150px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-style {
  width: 100%;
  border-radius: 0px; }
